<%= form_tag do %>

  <% if @user.errors.any? %>
  <div id="error_explanation">
    <% msg = @user.errors.count.to_s + " " + t('error').pluralize(@user.errors.count) %>
    <%= content_tag :div, msg, class: :error %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <p>&nbsp;</p>

  <p>
    <strong><%= label_tag :email, t('email') %></strong><br>
    <%= text_field_tag :email, @user.email %>
  </p>
  
  <p>
    <strong><%= label_tag :name, t('name') %></strong><br>
    <%= text_field_tag :name, @user.name %>
  </p>
  
  <p>
    <%= submit_tag t('submit') %>
  </p>
<% end %>
