<h2><%= t('admin_user_title') %></h1>

<% if flash[:warning] -%>
   <%= content_tag :div, flash[:warning], class: :warning %>
<% end -%>

<% if flash[:success] -%>
   <%= content_tag :div, flash[:success], class: :success %>
<% end -%>

<table>
  
  <tr>
    <th><%= t('name') %></th>
    <th><%= t('email') %></th>
    <th><%= t('authToken') %></th>
    <th></th>
    <th></th>
  </tr>
  
  <tr>
    <td><%= link_to h(@user.name), admin_user_path(@user) %></td>
    <td><%= h(@user.email) %></td>
    <td><%= h(@user.authentication_token) %></td>
    <td><%= link_to t('edit'), edit_admin_user_path(@user) %></td>
    <td><%= link_to t('change_passwd'), edit_user_registration_path(@user) %></td>
  </tr>
  
</table>

<p><%= link_to t('back'), admin_path %></p>
